/* TODO Add site wide styles */

body{
  font-family: ShopifySans,Helvetica,Arial,sans-serif;
}


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
