.login-full-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* width: 300px; */
  /* border: 1px black solid; */
  margin: 0 auto;
  background: linear-gradient(90deg, #9ef9dc, #97dbf2);

}

.login-container {
  height: 70%;
  width:30%;
  /* border: 1px solid black; */
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
}

.form-container {
  display: flex;
  padding: 50px 25px;
  flex-direction: column;
  justify-content: center;
  margin: 0px 0px;
}

.login-input {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 25px;
  border-radius: 5px;
  margin: 10px 0px;
}
